<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <add key="SVCareersURL" value="http://spicareers-uat/spicareers/" />
    <add key="ReferFriendFilePath" value="C:\Websites\Selenium\SVCareers_Automation_Testing_Project\SVCareers_Automation_Testing_Project\Data\ReferAFriend.xlsx" />
    <add key="CreateJobRequestFilePath" value="C:\Websites\Selenium\SVCareers_Automation_Testing_Project\SVCareers_Automation_Testing_Project\Data\CreateJobRequest.xlsx" />
    <add key="JobRequestReportFilePath" value="C:\Websites\Selenium\SVCareers_Automation_Testing_Project\SVCareers_Automation_Testing_Project\Data\JobRequestReport.xlsx" />
  </appSettings>
</configuration>